.button {
	display:inline-block;
	border-radius: $border-radius;
	background: $button-background;
	cursor: pointer;
	padding: $button-padding;
	margin: $element-margin 0 $element-margin 0;
	border: 1px solid #aaa;
	@include shadow(1);

	&:hover {
		background: $button-background-hover;
	}

	&:active {
		background: $button-background-clicked;
	}
}




