.cards {
	@include display(flex);
	@include flex-wrap(wrap);
	@include justify-content(space-between);

	.card {
		position: relative;
		@include flex-basis(300px);
		@include flex-grow(1);
		margin: $card-margin;
		padding-bottom: 2.5em;
		border: $border-style;
		background-color: $card-background;
	}

	.card-image {
		background: whitesmoke;
		overflow: hidden;
		margin: $text-padding;

		img {
			width: 100%;
		}
	}

	.card-header {

		padding: $text-padding;

		.author {
			float: right;
			font-style: italic;
		}

		.tags {

			
		}
	}

	.card-text {
		padding: $text-padding;
	}

	.card-comments {
		padding: $text-padding;
	}

	.card-bottom {
		position: absolute;
		bottom: 0;
		padding: $text-padding;
	}
}
