#header {
	//border-bottom: $border-style;
	margin: $card-margin;

	
	.link-back {
		position:fixed;
		display:block;
		width:100%;
		text-align: left;
		padding: $text-padding;
		background-color: #fff;
		border-bottom: $border-style;
		top:0;
		left:0;
		right:0;
	}
}