.list-view {
	@include display(flex);
	@include flex-wrap(wrap);
	@include justify-content(space-between);
	//@include column-count(3);
	margin: $card-margin;
	

	.item-view {
		position: relative;
		display:inline-box;
		float:left;
		width:33.3%;
		min-height:20em;
		padding-bottom: 2.5em;
		margin-bottom: $card-margin;
		//background-color: $card-background;
		overflow:hidden;

		@include media($tablet) {
			width: 50%;
		}

		@include media($mobile) {
			width: 100%;
		}
	}

	.card-text {
		font-size: 130%;
  		overflow: hidden;
	}

	.card-image {
		background: whitesmoke;
		overflow: hidden;
		margin: $text-padding;
		height: 12em;

		img {
			width: 100%;
		}
	}

	.card-header {

		padding: $text-padding;
		margin-bottom: $paragraph-padding;

		.tags {

			
		}

		.date {
			float:right;
			font-size: 80%;
		}
	}

	.card-text {
		padding: $text-padding;
	}

	.card-comments {
		padding: $text-padding;
	}

	.card-bottom {
		position: absolute;
		bottom: 0;
		padding: $text-padding;
		width:100%;

		.author {
			float: right;
			font-style: italic;
		}
	}
}
