.singleview {
	margin: 80px $card-margin $card-margin $card-margin;

	h2 {
		margin: 0 0 $paragraph-padding 0;
	}
	

	.singleview-text {
		font-size: 140%;
  		overflow: hidden;
	}

	.singleview-image {
		text-align: center;
		overflow: hidden;
		margin: $text-padding 0 $text-padding 0;
		clear: both;


		img {
			max-height:600px;
			max-width: 100%;
			border-radius: $border-radius;
		}

	}

	.singleview-header {

		padding: $text-padding 0 $text-padding 0;
		margin-bottom: $paragraph-padding;

		.author {
			float:right;

			h3 {
				margin:0 0 $text-padding 0;
			}
		}

		.date {
			float:left;
			font-size: 80%;
		}
	}

	.singleview-text {
		clear:both;
		padding: $text-padding 0 $text-padding 0;
	}

	.singleview-comments {
		padding: $text-padding 0 $text-padding 0;
	}

	.singleview-bottom {
		padding: $text-padding 0 $text-padding 0;
		width:100%;

		.author {
			float: right;
			font-style: italic;
		}
	}
}

.link-back {
	position:fixed;
	display:block;
	width:100%;
	text-align: left;
	padding: $text-padding;
	background-color: #fff;
	border-bottom: $border-style;
	top:0;
	left:0;
	right:0;
}
