.submission-input {
	margin: $card-margin;
	clear:both;

	/*.badge {
		display: block;
	}*/

	h2 {
		margin: 0;
	}

	.tag-field {
		padding: $text-padding 0 $text-padding 0;

		.tag-checkbox {
			color: $tag-text-color;
			padding: $element-padding;
			border-radius: $border-radius;
			font-size: 80%;
		}
	}

	

	.input-box {
		//border: $border-style;
		margin: $element-margin 0 $element-margin 0;
		//background-color: $card-background;

		textarea {
			height: 2.4em;
			resize: none;
			overflow: auto;
			@include transition(height 0.2s);
		}

		span.input-field {
			display: block;
		    //padding-right:$text-padding;
		}

	    /*button {
			float:right;
			margin: 0;
			height: 100%;
		}*/

	}

	.input-extra {
		display: none;
	}

	&.expand {

		.input-box {

			textarea {
				height: 10em;
			}
		}

		.input-extra {
			display: block;
		}

	}

	.button-right {
		float: right;
		display: inline;
		padding-right:1px;
	}

	.button-left {
		display: inline;
	}

	#attach-text {
		display:block;
	}

}