.submission-input {
	margin: $card-margin;
	clear:both;


	.input-box {
		border: $border-style;
		padding: $text-padding;
		background-color: $card-background;

		textarea {
			height: 2.4em;
			resize: none;
			overflow: auto;
			@include transition(height 0.2s);
		}

		span {
			display: block;
		    overflow: hidden;
		    //padding-right:$text-padding;
		}

	    /*button {
			float:right;
			margin: 0;
			height: 100%;
		}*/

	}

	.input-extra {
		display: none;
	}

	&.expand {

		.input-box {

			textarea {
				height: 10em;
			}
		}

		.input-extra {
			display: block;
		}

	}

	

}