$card-margin: 1em;
$text-padding: .5em;
$element-padding : 0.25em;
$paragraph-padding: 1em;

$border-radius:5px;

$border-style: 1px solid #000;
$card-border-style: 2px solid #000;

$card-background: #eee;

$badge-background: #111;
$badge-text-color: #eee;

$small-font-size: 80%;

$input-border: 1px solid #666;

$mobile: new-breakpoint(max-width 600px 4);
$tablet: new-breakpoint(max-width 800px 4);