/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "bourbon/bourbon";
@import "neat/neat";

/* MIXINS */

//@import "mixins/masonry";
@import "mixins/multiline";

/* IMPORTS */

@import "values";
@import "side";
@import "header";
@import "footer";

@import "item-list";
@import "comments";
@import "submission_input";
@import "singleview";

/* FONTS */

//@include font-face("source-sans-pro", "/fonts/SourceSansPro-Regular", $file-formats: ttf);
//@include font-face("source-sans-pro", "/fonts/SourceSansPro-Bold", bold, $file-formats: ttf);
//@include font-face("source-sans-pro", "/fonts/SourceSansPro-Italic", normal, italic, $file-formats: ttf);

@include font-face("open-sans", "/fonts/OpenSans-Regular", $file-formats: ttf);
@include font-face("open-sans", "/fonts/OpenSans-Bold", bold, $file-formats: ttf);
@include font-face("open-sans", "/fonts/OpenSans-Italic", normal, italic, $file-formats: ttf);

/* ELEMENT STYLES */

body {
	font-family: "open-sans";
	color: #444;
}

h4 {
	margin: 0;
}

h2 {
	margin: 0.2em
}

p {
	margin: 0.2em 0 0.2em 0
}

a {
	color: #000;
	text-decoration:none;
}

#{$all-text-inputs} {
	font-size:100%;
	width: 100%;
	padding: $text-padding;
	outline: none;
	border: $input-border;
}

#{$all-button-inputs} {
	font-size:100%;
	border-radius: $border-radius;
	margin: $text-padding 0 $text-padding 0;
}

textarea {
	resize: none;
	overflow: auto;
}

/* MAIN STYLES */

#container {
	max-width : 1080px;
	margin: auto;
}

.hidden {
	display:none;
}

.tag-list {
	list-style:none;
	padding:0;
	display: inline-block;
	margin: 0;

	li {
		float: left;
		padding: 0;
	}
}

.badge {
	background-color: $badge-background;
	border-radius: $border-radius;
	display: inline-block;
	font-size: $small-font-size;
	line-height: 1;
	padding: 0.4em 1.2em;
	color: $badge-text-color;
	margin : $element-padding;

	&.selected {
		background-color: #f00 !important; 
	}
}

