/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "bourbon/bourbon";
@import "neat/neat";

/* MIXINS */

//@import "mixins/masonry";

/* IMPORTS */

@import "values";
@import "cards";
@import "comments";
@import "submission-input";

@include font-face("source-sans-pro", "/fonts/SourceSansPro-Regular", $file-formats: ttf);
@include font-face("source-sans-pro", "/fonts/SourceSansPro-Bold", bold, $file-formats: ttf);
@include font-face("source-sans-pro", "/fonts/SourceSansPro-Italic", normal, italic, $file-formats: ttf);


body {
  font-family: "source-sans-pro";
}

#container {
  max-width : 1100px;
  margin: auto;
}

h4 {
  margin: 0;
}

h2 {
  margin: 0.2em
}

p {
  margin: 0.2em 0 0.2em 0
}

#{$all-text-inputs} {
  font-size:80%;
  width: 100%;
  padding: $text-padding;
}

#{$all-button-inputs} {
  font-size:80%;
  border-radius: $border-radius;
  margin: $text-padding 0 $text-padding 0;
}

.hidden {
  display:none;
}

