<div class="input-box">
	<div class="submission-headline"><h1>Liebe Sonnenallee ... <span class="blinking-cursor">|</span></h1></div>
	<div class="input-extra">
		<span class="input-row">
			<textarea id="new-submission-text" maxlength="1000" placeholder="What do you have to say?"></textarea>
		</span>
		<span class="input-row">
			<span class="input-author"><input id="new-submission-author" maxlength="32" type="text" placeholder="Your Name"></span>

			<ul class="tag-list">
				<% _.each(tags, function(tag) { %>
				<li class="badge">
					<label>
						<input type="checkbox" name="new-submission-tags" value="<%= tag %>"><%= tag %>
					</label>
				</li>
				<% }) %>
			</ul>
		</span>
		<span id="attach-text" class="hidden"></span>
	</div>
</div>
<div class="button-row">
	<span class="file-button">
		<label for="new-submission-file"><span class="button">Attach Image</span></label>
		<input type="file" name="file" class="pure-input-rounded input-element" id="new-submission-file" accept="image/x-png, image/gif, image/jpeg" style="display:none">
	</span>
	<span class="button" id="submit-button">Post</span>
</span>
