<div class="inner-card">
	<div class="card-header">
		<% if (title) { %>
		<h3><%= title %></h3>
		<% } %>
	</div>
	<% if (files.length > 0) { %>
	<div class="card-image">
		<img src="<%= filesUrl+files[0].name %>">
	</div>
	<% } else { %>
	<div class="card-text">
		<p><%= text_truncated %></p>
	</div>
	<% } %>
	<div class="card-bottom">
		<p class="author">by <%= author %></p>
		<p class="date"><%= fromNow(createdAt) %></p>
		<!--<span class="comment-number"><%= comments.length %> Comments</div>-->
		<% if (tags.length > 0) { %>
		<ul class="tag-list">
			<% _.each(tags, function(tag) { %>
			<li><span class="badge with-hash"><%= tag %></span></li>
			<% }) %>
		</ul>
		<% } %>
	</div>
</div>
