<div class="editor">
	<textarea id="pad" class="full-height">
{{ text }}
	</textarea>
</div>
<div class="footer">
	<div id="statusBar"></div>
	<div class="buttonBar">
		<button id="restartButton">Restart Letterbox</button>
		<button id="resetButton">Reset</button>
		<button id="saveButton">Save</button>
	</div>
</div>
<script>

	function showStatus(title, message) {

		if (title)
			message = '<b>'+title+':</b> '+message;

		$('#statusBar').html(message);
		setTimeout(function() {
			$('#statusBar').html('');
		},5000);
	}

	function fetchText() {
		$.get( "/text", function(res) {
			$('#pad').val(res);
		});
	}

	$('#saveButton').on('click', function() {
		$.post( "/save", { text: $('#pad').val() } , function(res) {
			showStatus(false,res);
			fetchText();
		});

	});
	$('#resetButton').on('click', function() {
		$.get( "/reset", function(res) {
			showStatus(false,res);
			fetchText();
		});
	});
	$('#restartButton').on('click', function() {
		$.get( "/restart", function(res) {
			showStatus(false,res);
		}).fail(function(res) {
			console.log(res);
			showStatus("Error",res.responseJSON.error);
		});
	});
</script>
       