<div class="card-header">
</div>
<% if (files.length > 0) { %>
<div class="card-image">
	<img src='<%= filesUrl+files[0].name %>')"></img>
</div>
<% } %>
<div class="card-text">
	<%= text %>
</div>
<% if (tags.length > 0) { %>
<div class="card-tags"> 
	<ul class="tag-list">
	<% _.each(tags, function(tag) { %>
		<li><span class="badge"><%= tag %></span></li>
	<% }) %>
	</ul>
</div>
<% } %>
<div class="card-bottom">
	<div class="author"><%= author %></div>
	<div class="date"><%= fromNow(createdAt) %></div>
</div>
