[Unit]

Description=Launches letterbox script

After=network.target

[Service]

Type=simple

ExecStart=/bin/python2 /home/letterbox/HybridLetterbox/scr/letterbox/letterbox_service.py

RemainAfterExit=true

[Install]

WantedBy=multi-user.target